# Local
.DS_Store
*.local
*.log*

# Dist
node_modules
dist/
storybook-static

# Bundle analysis
rspack-stats.json
bundle-analyzer-report.json

# IDE
.vscode/*
!.vscode/extensions.json
.idea

.env*

playwright-report
test-results

coverage/

.vercel
