@import '@launchpad-ui/tokens/dist/index.css';
@import '@launchpad-ui/tokens/dist/themes.css';

.CodeEditor {
  height: 100%;

  &.resizable {
    resize: vertical;
  }

  :global(.cm-editor) {
    height: 100%;
  }

  :global(.cm-editor ::selection) {
    background-color: var(--lp-color-blue-100) !important;
    color: inherit;
  }

  :global(.cm-tooltip.cm-tooltip-autocomplete) {
    max-width: var(--lp-size-400);

    > ul {
      min-width: 0;
      max-width: none;
      width: 100%;

      li {
        padding-block: var(--lp-spacing-200);
        padding-inline: var(--lp-spacing-300);
        border-radius: var(--lp-border-radius-regular);
        outline: none;
        text-decoration: none;
        position: relative;
        display: flex;
        align-items: center;

        &[aria-selected],
        &:hover {
          background: var(--lp-color-bg-interactive-secondary-hover);
          color: inherit;
        }
      }
    }
  }
}

.TooltipSchema {
  padding: var(--lp-spacing-400);
  max-width: 300px;
}

.TooltipSchemaTitle {
  font: var(--lp-text-heading-2-medium);
  margin-bottom: var(--lp-spacing-200);
}

.TooltipSchemaMessage {
  margin-bottom: var(--lp-spacing-400);
  font: var(--lp-text-body-2-regular);
}

.TooltipType {
  text-transform: capitalize;
  font: var(--lp-text-heading-3-medium);
  margin-bottom: var(--lp-spacing-200);
}

.TooltipTypeDetails {
  font: var(--lp-text-code-2-regular);
}

.TooltipTypeDetail {
  display: inline-block;
  word-break: keep-all;
  padding: var(--lp-spacing-200);
}
