.errorContainer {
  height: 400px;
}

.errorMessage {
  background: var(--lp-color-red-900);
  border: 1px solid var(--lp-color-red-600);
  color: var(--lp-color-red-200);
  padding: 8px 12px;
  margin: 12px 20px;
  border-radius: 6px;
  font-size: 12px;
}
