name: Run CI
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  ci-build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth: 0 # If you only need the current version remove this line.

      - uses: ./.github/actions/ci
